default:
  SECRET_KEY: "default-secret-key"
  ES_URL: "http://localhost:9200"
  ES_INDEX_NAME: "default-index-name"
  INGESTION_CAP: 10_000
  CLIP_MODEL_NAME: "clip-ViT-B-32"
  MEDIAPIPE_HUMAN_DETECT_MODEL: "blaze_face_short_range.tflite"
  HUMAN_EXCLUSION_THRESHOLD: 0.6
  IMAGE_CACHE_DIR: "images/"
  INSERT_BATCH_SIZE: 200
  KNN:
    K: 1_000
    NUM_CANDIDATES: 1_000
  PER_PAGE_DEFAULT: 30

development:
  SECRET_KEY: "dev-secret-key"
  DEBUG: true
  ES_INDEX_NAME: "inat-photos-index-dev"

testing:
  SECRET_KEY: "test-secret-key"
  TESTING: true
  ES_INDEX_NAME: "inat-photos-index-test"

production:
  SECRET_KEY: "production-secret-key"
  DEBUG: false
  ES_INDEX_NAME: "inat-photos-index-production"


